<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>227731042371-ihc1st2np1as89hann52h8gkjendhebr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227731042371-ihc1st2np1as89hann52h8gkjendhebr</string>
	<key>API_KEY</key>
	<string>AIzaSyAWrUwhYY0M8nKnxxUP5YBxeb-yZ2rJNv4</string>
	<key>GCM_SENDER_ID</key>
	<string>894188988277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.flarefx</string>
	<key>PROJECT_ID</key>
	<string>flarefx-11f1b</string>
	<key>STORAGE_BUCKET</key>
	<string>flarefx-11f1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:227731042371:ios:81958a6f6c034b45</string>
	<key>DATABASE_URL</key>
	<string>https://flarefx-11f1b.firebaseio.com</string>
</dict>
</plist>
